<p id="notice"><%= notice %></p>

<div class="factor">
	<%= content_tag :span, "Factor: #{@factor.title}", class: "factor-title" %>

	<div class="questions">
		<%= render @factor.questions %>
	</div>

</div>




